<nav class="navbar navbar-light bg-white" >
    <a class="navbar-brand" href="/index" style="font-family:'Times New Roman'; font-weight: 700">
        <img src="/img/img2.png">
        MOND PRATAS
    </a>
    <a class="navbar-brand" href="/venda" style="font-family:'Times New Roman'; font-weight: 700;">
        <img src="/img/venda.png">
        VENDA
    </a>
    <a class="navbar-brand" href="/inserir" style="font-family:'Times New Roman'; font-weight: 700;">
        <img src="/img/entrada.png">
        INSERIR
    </a>
    <a class="navbar-brand" href="/carrinho" style="font-family:'Times New Roman'; font-weight: 700;">
        <img src="/img/isso2.png">
        CARRINHO
    </a>
    <a class="navbar-brand" href="/logout" style="font-family:'Times New Roman'; font-weight: 700">
        <img src="/img/log.png">
        LOGOUT
    </a>
</nav>