<div class="container">
    <div class="card" id="formulario-pergunta">
        <div class="card-header">
            <h4 align="center" class="text-black-50">Realizar venda/inserção de produto</h4>
        </div>
        <div class="card-body">
            <form method="POST" action="/vendas">
                <label>Qual é o Produto:</label>
                <select id="products" name="products">
                    <option value="Colar">Colar</option>
                    <option value="Pulseira">Pulseira</option>
                    <option value="Brinco">Brinco</option>
                    <option value="Anel">Anel</option>
                </select>
                <input  type="submit" class="btn btn-outline-dark">
            </form>
        </div>
    </div>
</div>