<%- include partials/header.ejs %>
<body>
    <%- include partials/navbar.ejs %>
    <div class="container">
        <div class="card" id="formulario-venda">
            <div class="card-header">
                <h4 ALIGN="CENTER" class="text-black-50" style="text-transform: uppercase"> VENDA </h4>
            </div>
            <div class="card-body">
                <label for="ID" id="labelid" hidden>ID do Produto:</label>
                <input type="number" id="ID" name="ID" style="margin-bottom: 10px" disabled hidden><br id="br" hidden>

                <label for="desc">Descrição do Produto:</label>
                <input type="text" id="desc" name="desc" ><BR>

                <label for="val" id="labelval" hidden>Valor do Produto:</label>
                <input type="number" id="val" name="val" hidden><br id="br1" hidden>

                <label for="qtd" id="labelqtd" hidden>Quantidade vendida</label>
                <input type="number" id="qtd" name="qtd" value="1" hidden><br id="br2" hidden>

                <button id="button" onclick="efetuar()" hidden></button>
                <button id="buttoncancel" onclick="Cancelar()" hidden></button>

                <div id="escolha">
                </div>

                <input id="malu" hidden value=<%= user%> >

                <div id='maluco'>
                </div>
            </div>
            <div id="scroll">
                <table class="table table-hover text-uppercase table-light table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"> ID </th>
                            <th scope="col"> Descrição </th>
                            <th scope="col"> Tamanho </th>
                            <th scope="col"> Valor </th>
                            <th scope="col"> Quantidade </th>
                            <th scope="col"> Ações</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script>
                    function vender(id) {
                        let val = document.getElementById("val");
                        let idc = document.getElementById("ID");
                        let desc = document.getElementById("desc");
                        let button = document.getElementById("button");
                        let buttoncancel = document.getElementById("buttoncancel");

                        document.getElementById("qtd").hidden = null;
                        document.getElementById("labelqtd").hidden = null;
                        document.getElementById("labelval").hidden = null;
                        document.getElementById("labelid").hidden = null;
                        document.getElementById("br").hidden = null;
                        document.getElementById("br1").hidden = null;
                        document.getElementById("br2").hidden = null;
                        document.getElementById("escolha").value = 1;

                        idc.hidden = null;
                        idc.value = id;

                        desc.disabled = true;
                        val.hidden=null;

                        axios.get("http://localhost:8080/produto/" + id).then(produto => {
                            val.value = produto.data.produtos[0].valor;
                            desc.value = produto.data.produtos[0].descricao.toString().toUpperCase();
                            idc.value = produto.data.produtos[0].ID;
                        })

                        button.className = "btn btn-outline-dark";
                        button.hidden = null;
                        button.innerHTML = "Vender";

                        buttoncancel.className = "btn btn-outline-danger";
                        buttoncancel.innerHTML = "Cancelar";
                        buttoncancel.hidden = null;
                        buttoncancel.style = "margin-left: 10px";

                    }
                </script> <!-- Clique no botão vender TABELA -->
                <script>
                    async function remover(id) {
                        await Cancelar();
                        let idc = document.getElementById("ID");
                        let desc = document.getElementById("desc");
                        let button = document.getElementById("button");
                        let buttoncancel = document.getElementById("buttoncancel");



                        document.getElementById("qtd").hidden = null;
                        document.getElementById("labelqtd").hidden = null;
                        document.getElementById("labelid").hidden = null;
                        document.getElementById("br").hidden = null;
                        document.getElementById("br2").hidden = null;
                        document.getElementById("escolha").value = -1;

                        idc.hidden = null;
                        idc.value = id;

                        desc.disabled = true;

                        axios.get("http://localhost:8080/produto/" + id).then(produto => {
                            let prod = produto.data.produtos[0];
                            val.value = prod.valor;
                            desc.value = prod.descricao.toString().toUpperCase();
                            idc.value = prod.ID;
                        })

                        button.className = "btn btn-outline-dark";
                        button.hidden = null;
                        button.innerHTML = "Remover";

                        buttoncancel.className = "btn btn-outline-danger";
                        buttoncancel.innerHTML = "Cancelar";
                        buttoncancel.hidden = null;
                        buttoncancel.style = "margin-left: 10px";
                    }
                </script> <!-- Clique no botão remover TABELA -->
                <script>
                    axios.get("http://localhost:8080/produtos").then(produtos => {
                        let produto = produtos.data.produtos;
                        let table = document.getElementById("tbody");

                        produto.forEach(product => {
                            let tr = document.createElement("tr");
                            let tdid = document.createElement("td");
                            let tddesc = document.createElement("td");
                            let tdtam = document.createElement("td");
                            let tdquant = document.createElement("td");
                            let tdval = document.createElement("td");
                            let tdbutton = document.createElement("td");
                            let sellbutton = document.createElement("button");
                            let rembutton = document.createElement("button");

                            sellbutton.innerHTML = "Vender";
                            rembutton.innerHTML = "Remover";

                            sellbutton.style = "margin-right: 5px";

                            sellbutton.className = "btn btn-outline-dark";
                            rembutton.className = "btn btn-outline-dark";

                            sellbutton.addEventListener("click",function (){
                                vender(product.ID);
                            })
                            rembutton.addEventListener("click",function (){
                                remover(product.ID);
                            })

                            tdid.innerHTML = product.ID;
                            tddesc.innerHTML = product.descricao;
                            tdtam.innerHTML = product.tamanho;
                            tdquant.innerHTML = product.quantidade;
                            tdval.innerHTML = product.valor;

                            tdbutton.appendChild(sellbutton);
                            tdbutton.appendChild(rembutton);

                            tr.appendChild(tdid);
                            tr.appendChild(tddesc);
                            tr.appendChild(tdtam);
                            tr.appendChild(tdval);
                            tr.appendChild(tdquant);
                            tr.appendChild(tdbutton);
                            table.appendChild(tr);

                        })
                    }).catch(error => {
                        if(error.toString().indexOf("404") !== -1){
                            let divmalu = document.getElementById("maluco");

                            divmalu.innerHTML = "Nenhum produto cadastrado!";
                            divmalu.className = "alert alert-danger";
                            divmalu.role = "alert";
                            divmalu.style = "margin-top: 15px";
                        }
                    })
                </script> <!-- Carrega dados da Tabela -->
                <script>
                    function Cancelar(){
                        document.getElementById("ID").hidden = true;
                        document.getElementById("val").hidden = true;
                        document.getElementById("qtd").hidden = true;
                        document.getElementById("button").hidden = true;
                        document.getElementById("buttoncancel").hidden = true;

                        document.getElementById("maluco").hidden = true;

                        document.getElementById("labelid").hidden = true;
                        document.getElementById("labelqtd").hidden = true;
                        document.getElementById("labelval").hidden = true;

                        document.getElementById("br").hidden = true;
                        document.getElementById("br1").hidden = true;
                        document.getElementById("br2").hidden = true;

                        document.getElementById("desc").disabled = false;
                        document.getElementById("desc").value = '';
                    }
                </script> <!-- Botão Cancelar -->
                <script>
                    function efetuar() {
                        let qtd = document.getElementById("qtd").value;
                        let val = document.getElementById("val").value;
                        let escolha = document.getElementById("escolha").value;
                        let descri = document.getElementById("desc").value;
                        let user = document.getElementById("malu").value;
                        let id = document.getElementById("ID").value;
                        let prod = {
                            ID: id,
                            descricao: descri,
                            quant: qtd,
                            valor: val,
                            escolha: escolha,
                            user: user
                        };


                        axios.put("http://localhost:8080/produto/" + id,prod).then(data => {
                            if(data.status===200){
                                document.getElementById("maluco").style = "margin-top : 20px"
                                document.getElementById("maluco").className = "alert alert-success";
                                document.getElementById("maluco").role = "alert";
                                document.getElementById("maluco").innerHTML = "Produto colocado no carrinho! Para concluir a venda vá para o carrinho";
                            }
                            if(data.status===201){
                                document.getElementById("maluco").style = "margin-top : 20px"
                                document.getElementById("maluco").className = "alert alert-success";
                                document.getElementById("maluco").role = "alert";
                                document.getElementById("maluco").innerHTML = "Produto removido com sucesso!";
                            }
                        }).catch(error => {
                            console.log(error.toString("409").indexOf());
                            if(error.toString().indexOf('403')!==-1){
                                document.getElementById("maluco").style = "margin-top : 20px"
                                document.getElementById("maluco").className = "alert alert-danger";
                                document.getElementById("maluco").role = "alert";
                                document.getElementById("maluco").innerHTML = "Para realização de operações com o valor zerado use o botão remover";
                            }
                            if(error.toString().indexOf('409')!==-1){
                                document.getElementById("maluco").style = "margin-top : 20px"
                                document.getElementById("maluco").className = "alert alert-danger";
                                document.getElementById("maluco").role = "alert";
                                document.getElementById("maluco").innerHTML = "Quantidade maior que a disponivel em estoque";
                            }
                            if(error.toString().indexOf('500')!==-1){
                                document.getElementById("maluco").style = "margin-top : 20px"
                                document.getElementById("maluco").className = "alert alert-danger";
                                document.getElementById("maluco").role = "alert";
                                document.getElementById("maluco").innerHTML = "Erro na aplicação por favor, contate o desenvolvedor!";
                            }
                        })
                        prod.ID = null;
                    }
                </script> <!-- Efetua venda ou remoção -->
                <script>
                    document.getElementById("desc").addEventListener("keyup", function (){
                        let desc= document.getElementById("desc");
                        desc = desc.value.toLowerCase();
                        let tbody=document.getElementById("tbody");
                        let tr=tbody.childNodes[1];
                        let td=tr.childNodes;


                        for (let i=1;i<tbody.childNodes.length;i++){
                            tr=tbody.childNodes[i];
                            td=tr.childNodes;
                            let value = td[1].childNodes[0].nodeValue.toLowerCase();

                            if(value.indexOf(desc)===0){
                                tr.style.display = "table-row";
                            }
                            else {
                                tr.style.display = "none";
                            }
                        }
                    })
                </script> <!-- Script de busca pela descrição -->
            </div>
        </div>
    </div>
</body>
<%- include partials/footer.ejs %>

